<ion-header>
  <ion-toolbar>
    <ion-title>Recover Password</ion-title>
    <ion-buttons slot="start" class="btn" [routerLink]="['/login-page']">
      <ion-button>
        <ion-icon name="chevron-back"></ion-icon>
        Back
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="formStyle">
  <div class="form">
  <form>    
    <h2 class="text">Enter your email</h2>
    <ion-item color="transparent" lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item>
  </form>
</div>
</div>
  <ion-row>
    <ion-col> 
    <ion-button type="submit"  class="btn1"  color="primary" expand="full" (click)="presentAlert()" (click)="authService.PasswordRecover(email.value)" >Send Password Reset Email</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
