<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
    <ion-buttons slot="start" class="btn" [routerLink]="['/tabs/tab3']">
      <ion-button>
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="about">
  <h4>Ionic 6, Firebase, and Angular App created by Thanh Cao</h4>
  <h5>© 2022 Thanh Cao.  All rights reserved.</h5>
</div>

<img id="icon" src="assets/img/young-man.png" alt="">
</ion-content>
