ion-content {
    --ion-font-family:  'Montserrat'!important;
    font-family:  'Montserrat' !important;
}
.about {
    text-align: center;
    margin-top: 250px;
}

#icon {
    display: block;
    margin: auto;
    height: 200px;
    width: 200px;
    margin-top: 120px;
    margin-bottom: -45px;
  }
ion-header {

    --ion-font-family: 'Montserrat' !important;
    font-family: 'Montserrat' !important;
}
