ion-content {
  --ion-font-family:  'Montserrat'!important;
  font-family:  'Montserrat' !important;
}

ion-header {

  --ion-font-family: 'Montserrat' !important;
  font-family: 'Montserrat' !important;
}

ion-tab-bar {
  --color: #FFBA08; 
}
