<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>My Info</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="map"></ion-icon>
      <ion-label>Start</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="create"></ion-icon>
      <ion-label>Note</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
