<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Info
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="ion-text-center" size="large">My Stats</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="top">
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>User Name<br>DOB</ion-label>
      <ion-buttons slot="end" class="btn" [routerLink]="['userInfo']">
        <ion-button>
          <ion-icon name="settings"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    </ion-list>
  </div>
  <table class="styled-table">
    <thead>
        <tr>
            <th>Activities</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr >
            <td>Distance</td>
            <td>0.0</td>
        </tr>
        <tr class="active-row">
            <td>Time</td>
            <td>0.0</td>
        </tr>

    </tbody>
</table>

<img id="graph" src="assets/img/graph.png" alt="">
</ion-content>
