<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Info
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="ion-text-center" size="large">My Stats</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="top">
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/avatar.png">
      </ion-avatar>
      <ion-item *ngFor="let user of UserInfos"  lines="none" class="user-list">
        <ion-label>
          <h5>
            <ion-icon name="person"></ion-icon> {{user.username}}
          </h5>
          <h5>
            <ion-icon name="star"></ion-icon> {{user.DOB}}
          </h5>
        </ion-label>
      </ion-item>
      <ion-buttons slot="end" class="btn" [routerLink]="['userInfo']">
        <ion-button>
          <ion-icon name="settings"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    </ion-list>


  </div>
  <table class="styled-table">
    <thead>
        <tr>
            <th>Activities</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr >
            <td>Distance</td>
            <td>0.0</td>
        </tr>
        <tr class="active-row">
            <td>Time</td>
            <td>0.0</td>
        </tr>

    </tbody>
</table>

<img id="graph" src="assets/img/graph.png" alt="">
</ion-content>
