<ion-header>
  <ion-toolbar>
    <ion-title>Profile Settings </ion-title>
    <ion-buttons slot="start" class="btn" [routerLink]="['/tabs/tab1']">
      <ion-button>
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="content">
    <ion-list lines="full">
      <form [formGroup]="userForm" (ngSubmit)="formSubmit()">
        <ion-item>
          <ion-label position="floating">User Name</ion-label>
          <ion-input formControlName="username" type="text" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">DOB</ion-label>
          <ion-input formControlName="DOB" type="text" required>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Genre</ion-label>
          <ion-input formControlName="genre" type="text" required>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Weight</ion-label>
          <ion-input formControlName="weight" type="text" required>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Height</ion-label>
          <ion-input formControlName="height" type="text" required>
          </ion-input>
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-button type="submit" class="btn" color="primary" shape="full" expand="block">Save</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-list>
  </div>

  <img id="userlogo" src="assets/img/user.png" alt="">
</ion-content>
