<ion-header>
  <ion-toolbar>
    <ion-title>Profile Settings </ion-title>
    <ion-buttons slot="start" class="btn" [routerLink]="['/tabs/tab1']">
      <ion-button>
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="content">
    <ion-item>
      <ion-label position="fixed">User Name</ion-label>
      <ion-input ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">DOB</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label >Genre</ion-label>
      <ion-select  >
        <ion-select-option value="Male">Male</ion-select-option>
        <ion-select-option value="Female">Female</ion-select-option>
        <ion-select-option value="Other">Other</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label >Weight</ion-label>
      <ion-input ></ion-input>

    </ion-item>
    <ion-item>
      <ion-label position="fixed">Height</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </div>

  <img id="userlogo" src="assets/img/user.png" alt="">
</ion-content>
